<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <h1 class="pageIntro">Add Soda</h1>
    <hr>

    <div>
        <div class="block">
            <h3 class="detailName"><%= diner.name %></h3>
            <hr>

            <form id="add-soda">
                <% if(sodas.length < 1) { %>
                    <h1>There are currently no sodas available.</h1>
                    <a href="/add-soda"><button class="btn btn-primary" type="button">Add Soda</button></a>
                    <hr>
                <% } %>
                <% if(sodas.length > 0) { %>
                    <label for="sodas">Choose sodas to add:</label>
                    <br>
                    <small>(Hold cmd/ctrl to choose multiple selections)</small>
                    <br>
                    <select name="soda" id="soda-select" multiple>
                        <% sodas.forEach(soda => { %>
                            <% if (soda.isServed && !diner.sodas.includes(soda.name)) { %>
                            <option value="<%= soda.name %>"><%= soda.name %></option>
                            <% } %>
                        <% }) %>
                    </select>
                <hr>
                <button id="diner-addSodas" class="btn btn-primary" type="button" data-id=<%= diner._id%>>Add</button>
                <% } %>
               
            </form>

            <a href="/diner-details/<%= diner._id%>" ><button class="btn btn-secondary" type="button" id="back">Back</button></a>
        </div>
    </div>

    <h1 id="feedback" class="m-3"></h1>

    <%- include('../partials/footer'); %>
</body>

</html>